.content {
  /* important styles */
  flex-grow: 1;

  /* extra styles */
}

.textContent {
  /* important styles */
  flex-grow: 1;
  /* width: 85%; */

  /* extra styles */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 160px;

  /* padding-right: 150px; */
}
